<%- include('partials/header'); -%>
        <div class="container">
            <div class="message">
                <i class="fas fa-check-circle"></i>
                <h1>Parabéns!!</h1>
                <p>A sua resposta de <%= userAnswer %> está correta!</p>
                <br>
                <a href="/">Clique aqui para voltar</a>
            </div>
        </div>
<%- include('partials/footer'); -%>