<%- include('partials/header'); -%>
        <div class="container">
            <div class="form-style">
                <form action="/result" method="POST">
                    <h1>Soma</h1>
                    <p class="values"><%= firstValue = Math.round(Math.random() * 1000) %></p>
                    <p class="sum">+</p>
                    <p class="values"><%= secondValue = Math.round(Math.random() * 1000) %></p>
                    <input type="text" name="result" placeholder="resultado">
                    <button type="submit">Enviar</button>
                    <a href="/multiplicacao">Clique aqui para ir para a Multiplicação</a>
                </form>
            </div>
        </div>
<%- include('partials/footer'); -%>