<%- include('partials/header'); -%>
        <div class="container">
            <div class="form-style">
                <form action="/multiplicationResult" method="POST">
                    <h1>Multiplicação</h1>
                    <p class="values"><%= firstValue = Math.round(Math.random() * 1000) %></p>
                    <p class="sum">x</p>
                    <p class="values"><%= secondValue = Math.round(Math.random() * 100) %></p>
                    <input type="text" name="result" placeholder="resultado">
                    <button type="submit">Enviar</button>
                    <a href="/">Clique aqui para ir para a Soma</a>
                </form>
            </div>
        </div>
<%- include('partials/footer'); -%>