<%- include('partials/headerWrong'); -%>
        <div class="wrong-container">
            <div class="message">
                <i class="fas fa-times-circle"></i>
                <h1>Ops...</h1>
                <p>A sua resposta de <%= userAnswer %> está errada!</p>
                <p>Resposta certa: <%= sumAnswer %>!</p>
                <br>
                <a href="/">Clique aqui para voltar</a>
            </div>
        </div>
<%- include('partials/footer'); -%>