.wrong-container {
    background-color: #e65252;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
}
.message {
    background-color: #e65252;
}
.message h1,
.message p,
.message i {
    background-color: #e65252;
}
.message a {
    color: #e65252;
    transition: 0.2s;
}
.message a:hover {
    background: #ee1f1f;
}